# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store
*.sw[pno]

mtproto_proxy_exporter
mtproto_proxy_exporter_386
mtproto_proxy_exporter_amd64
